/* ########################
           Texx-Web
            Texx
       by Marvin Borner
  & Marco Alexander Fischer
######################### */

@font-face {
    font-family: Ubuntu-Regular;
    src: url('../fonts/ubuntu/Ubuntu-Regular.ttf');
}

@font-face {
    font-family: Ubuntu-Bold;
    src: url('../fonts/ubuntu/Ubuntu-Bold.ttf');
}

html, body {
    height: 100%;
}

body {
    background-color: #282828;
    font-family: 'Mukta', sans-serif;
    color: white;
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.typewriter h1 {
    overflow: hidden;
    border-right: .15em solid white;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation:
            typing 1s steps(40, end),
            blink-caret .75s step-end infinite;
}

.heading {
    margin-top: 50vh;
    animation-name: middle-to-top;
    animation-delay: 1.5s;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

.loginform-box {
    opacity: 0;
    text-align: center;
    background: white;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    padding: 10px;
    animation-name: fade-in-custom;
    animation-delay: 2s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    color: dimgray;
}

.input {
    width: 70%;
    height: 50px;
    background: transparent;
    padding: auto;
    font-family: Ubuntu-Bold;
    float: right;
}

.lnr {
    font-size: 60px;
}

.graytext {
    color: #282828;
    font-family: Ubuntu-Bold;
    text-transform: uppercase;
    font-size: 18px;
}

@keyframes middle-to-top {
    from {
        margin-top: 50vh;
    }
    to {
        margin-top: 5vh;
    }
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; }
}

@keyframes fade-in-custom {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}