/* ########################
           Texx-Web
            Texx
       by Marvin Borner
  & Marco Alexander Fischer
######################### */

html, body {
    height: 100%;
}

body {
    background-color: #282828;
    display: flex;
    align-items: center;
    justify-content: center;
}

.typewriter h1 {
    font-family: 'Mukta', sans-serif;
    color: white;
    overflow: hidden;
    border-right: .15em solid white;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation:
            typing 3.5s steps(40, end),
            blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; }
}