/* ########################
           Texx-Web
            Texx
       by Marvin Borner
  & Marco Alexander Fischer
######################### */

html, body {
    height: 100%;
}

body {
    background-color: #282828;
    font-family: 'Mukta', sans-serif;
    color: white;
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.typewriter h1 {
    overflow: hidden;
    border-right: .15em solid white;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation:
            typing 1s steps(40, end),
            blink-caret .75s step-end infinite;
}

.heading {
    margin-top: 50vh;
    animation-name: middle-to-top;
    animation-delay: 1.5s;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

.loginform-box {
    text-align: center;
    background: white;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    padding: 10px;
    border: gray 4px solid;
}

.graytext {
    color: #282828;
}

@keyframes middle-to-top {
    from {
        margin-top: 50vh;
    }
    to {
        margin-top: 20px;
    }
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; }
}
